* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive; /* Fonte romântica */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffafbd, #ffc3a0); /* Cores românticas no fundo */
    overflow: hidden;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #ffffff;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

#sim {
    background-color: #ff6f61;
    color: white;
}

#sim:hover {
    background-color: #ff8a80;
}

#nao {
    background-color: #ff3d71;
    color: white;
    position: absolute;
}

#nao:hover {
    background-color: #ff5370;
}

#floks-img {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    
    button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
